@-moz-document domain("notion.so") {
/* ==UserStyle==
@name         Notion table auto-number
@description  Let notion table has auto-number feature
@namespace    examples
@version      20220213.21.39
@preprocessor default
==/UserStyle== */
}

@-moz-document domain("notion.so") {
.notion-collection_view-block {
  list-style-type: none;
  counter-reset: css-counter 0; /* initializes counter to 0; use -1 for zero-based numbering */
}

.notion-collection-item {
  counter-increment: css-counter 1; /* Increase the counter by 1. */
  transform: translateX(-2rem);
}

.notion-collection-item:before {
  content: counter(css-counter, decimal-leading-zero) ". | "; /* Apply counter before children's content. */
  color: brown;
  width: 2rem;
}
}
